@charset "utf-8";

.member-main {
    background: #fff;
    overflow: hidden;
    margin-top: 20px;
    padding: 20px;
}

.member-main ul .collection-item {
    float: left;
    position: relative;
    width: 220px;
    height: 310px;
    margin: 0 15px 15px 1px;
    border: 1px solid #eee;
    background: #fff;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    transition: all .5s;
} 

.member-main ul li:nth-child(4n) {
    margin-right: 0;
}

.member-main ul .collection-item a > img {
    width: 100%;
    height: 250px;
    border: none;
}

.member-main ul li .cancel {
	height:20px;
    background: #fff;
	color:#fff;
}

.collection-list li:hover .cancel{
	background:#eee;
	color:#333;
}

.member-main .collection-item p{
	line-height:20px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.member-main ul .collect-empty {
    width: 100%;
    text-align: center;
}

.member-main .collection-list .pager {
    clear: both;
}