.personal-complete{background: #ffffff;}
.button-submit{width:90%;margin:30px auto 0;}
.buttons{display: none;}
.button-submit button{font-size:15px;border:none;line-height:40px;height:40px;color: #ffffff;}
#divInfo>.side-nav>li{margin:0 7px 0 5px;padding:0 0 0 5px;height: 35px;line-height: 30px;min-height: 35px;border-bottom: 1px solid #f1f1f1;}
#divInfo>.side-nav>li:first-child{margin-top: 0;padding:0 0 8px;height: 44px;}
#divInfo>.side-nav>li .title{display: inline-block;line-height: 34px;}
#divInfo>.side-nav>li[isnew="False"] .cont-value{float: right;height: 34px;line-height: 34px;}
#divInfo>.side-nav>li[isnew="False"] .cont-value .value{line-height: 34px;}
#divInfo>.side-nav>li[isnew="False"] .cont-value .value{line-height: 34px;}
.personal-center .side-nav{padding-top:7px;margin-top: 45px;}
.personal-center .value.tou-xiang{display: block;width: 40px;height: 40px;line-height: 40px;text-align: center;border-radius: 50%;border: 1px solid #e6e6e6;overflow: hidden;float: left;}
.personal-center .value img{max-width:100%;vertical-align: middle; display: block;}
.mt-55.mlr-15 input{box-shadow: none;margin: 0;height: 35px;border: none;max-width: 72%;min-width: 60%;display: inline-block;font-size: 14px;}
.mt-55.mlr-15>div{line-height:50px;padding-left:15px;overflow: hidden;background: #fff;}
.mt-55.mlr-15>div:first-child{margin-top:-8px;}
.mt-55.mlr-15>div>span{width: 28%;font-size: 14px;display: block;float:left;}
.mt-55.mlr-15>div>span.left-img{width: 16%;}
.mt-55.mlr-15>div>span>img{width: 26px;height:auto;float: left;margin-top: 16px;}
.mt-55.mlr-15 input:focus{background: #fff;}
.mt-55.mlr-15>div.three-bind{padding-left: 0;border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;background-color: #ffffff; margin: 8px 0;}
.mt-55.mlr-15>div.three-bind ul{overflow: hidden;margin:0 0 0 0.5rem;}
.mt-55.mlr-15>div.three-bind ul li{overflow: hidden;line-height: 35px;margin-bottom: 0;}
.mt-55.mlr-15>div.three-bind ul li>img:first-child{float: left;margin-top: 9px;max-width: 26px;height: auto;}
.mt-55.mlr-15>div.three-bind ul li>a{display: block;float: left;border-bottom: 1px solid #ddd;width: 91%;color: #333;font-size: 14px;padding-left: 6px;height: 42px;line-height: 42px;}
.mt-55.mlr-15>div.three-bind ul li>a:after{clear: both;}
.mt-55.mlr-15>div.three-bind ul li:last-child>a{border-bottom:0px;}
.mt-55.mlr-15>div.three-bind ul li>a>div{float: right;}
.mt-55.mlr-15>div.three-bind ul li>a>div>span:first-child{color: #999;}
.mt-55.mlr-15>div.three-bind ul li>a>div>span:first-child.wei-span{color: #00A0E9;}
.mt-55.mlr-15>div.three-bind ul li>a>div>span:last-child{border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;transform: rotate(-46deg);-ms-transform: rotate(-46deg);-moz-transform: rotate(-46deg);-webkit-transform: rotate(-46deg);-o-transform: rotate(-46deg);width: 12px;height: 12px;display: block;float: right;margin: 13px 8px 10px 0;}
.send-out-code{border: 1px solid !important;padding:0;width: 30px;border-radius: 4px;min-width: 25% !important; background:#ffffff; height: 25px;font-size: 12px;margin-left: 20px;}
.imgs{margin-top: -28px;}
.side-nav li {
    margin: 0 0 0.4375rem 0;
}
button, .button{width:100%;height:50px;line-height:50px;padding:0;border-radius:3px;font-size:20px;cursor: pointer;margin: 0 0 1.25rem;position: relative;text-decoration: none;text-align: center;display: inline-block;font-size: 1rem;transition: background-color 300ms ease-out;}
button.top-button, .button.top-button{width:auto;height:32px;line-height:32px;margin:4px;padding:0 17px;font-size:14px;}
.personal-center .set-a{
    color: #29afe4;
}
.center{
    margin-top: -45px;
}
.personal-center .value{
    font-size: 12px;
    float: right;
    margin-right: 10px;
    line-height: 48px;
}
.value1{
    color: #cccccc;
}
.personal-center .arrow, .personal-center .head-arrow{
    float: right;
    background: url(../img/member/icon-ps.png) -55px 0;
    width: 6px;
    height: 11px;
}
.personal-center .arrow, .personal-center .head-arrow{
    margin-top: 12px;
}
#divInfo>.side-nav>li.border-bottom-none img{
    margin-right: 0;
    border-radius: 0;
    width: 32px;
    height: auto;
}
.cont-value{
    padding:0;
}
.mlr-15{
    display: none;
    margin:0 0 0 0;
    width:100%;
}
.mlr-16{
    display: none;
    background-color:#fff;
    margin:0 0 0 0;
}
.inputs{
    margin:0;
    height:50px;
    border-bottom:none;
}
.texts{
    box-shadow:none;
    margin:0;
    height:35px;
    border:none;
    width:auto;
    display:inline-block;
}
.mlr-17{
    background-color:#fff;
}
.mlr-18{
    display: none;background-color:#fff;margin:0;margin-top: 8px;
    background-color: rgb(255, 255, 255); margin: 8px 0px 0px;
}
.mlr-19{background-color:#fff;margin:0;
}






